.App {
  text-align: center;
  background: linear-gradient(180deg, #cc2b5e 15%, #753a88 90%);
  min-height: 100vh;
  color: white;
}
.signupbox  { 
  background-color: rgba(0,0,0, 0.3); 
  font-weight: bold;
  border: 2px solid #040303;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 50%;
  height: 85vh;
  padding: 20px;
}
.signupbox2  {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-30%, -50%);
  z-index: 0;
  width: 60%;
  padding: 20px;
  height: 90vh;
}